#food {
    border-collapse: collapse;
    width: 100%;
}

#food td, #food th {
  padding: 8px;
}

#food th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #00449e;
  /* background-color: #96ccff; */
  /* background-color: #357edd; */
  color: white;
}

#food tr:nth-child(even){
  /* background-color: #f2f2f2; */
  /* background-color: #eee; */
  background-color: rgba( 0, 0, 0, .05 );
}

#food tr:hover {
  /* background-color: #96ccff; */
  background-color: #cdedff;
  /* background-color: #f6fffe; */
}
